<%= render 'elements/error/single', flash %>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-maroon">
        <span class="info-box-icon"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Users</span>
            <span class="info-box-number"><%= @user_count %></span>
            <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
            </div>
            <span class="progress-description">
            50% Increase in 30 Days
            </span>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-building"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Partners</span>
            <span class="info-box-number"><%= @partner_count %></span>
            <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
            </div>
            <span class="progress-description">
            20% Increase in 30 Days
            </span>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-home"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Salons</span>
            <span class="info-box-number">114,381</span>
            <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
            </div>
            <span class="progress-description">
            70% Increase in 30 Days
            </span>
        </div>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-photo"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Designs</span>
            <span class="info-box-number">163,921</span>
            <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
            </div>
            <span class="progress-description">
            40% Increase in 30 Days
            </span>
        </div>
    </div>
</div>
