<style>
.radio label, .checkbox label {
    padding-left: 0px;
}
.login-box-body > form {
    margin-bottom: 20px;
}
</style>

<%= form_for @manager, :url => {:controller => :auth} do |f| %>
    <%= render 'elements/error/multi', flash %>
    <div class="login-box-body">
        <div class="form-group has-feedback">
            <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
            <span class="glyphicon form-control-feedback"><i class="fa fa-envelope"></i></span>
        </div>
        <div class="form-group has-feedback">
            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
            <span class="glyphicon form-control-feedback"><i class="fa fa-unlock"></i></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label><input type="checkbox"> Remember Me</label>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-warning btn-block btn-flat">Sign In</button>
            </div>
        </div>
        <a href="#">パスワードを忘れました…</a>
    </div>
<% end %>
