<footer class="main-footer">
    <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; Mikaaaan</a>.</strong> All rights
    reserved.
</footer>
<div class="loader-bg">
    <div class="loading">
        <%= render 'elements/orange' %>
        <p style="padding-top:15px; font-size:34px">loading</p>
    </div>
</div>
